DJANGO_SECRET_KEY=your-secret-key-here
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1
MQTT_BROKER=broker.hivemq.com
MQTT_PORT=1883
MQTT_TOPIC=inventx/telemetry
DATABASE_URL=postgresql://user:password@host:port/dbname
DATABASE_CONN_MAX_AGE=60
MQTT_USER=your_username
MQTT_PASSWORD=your_password
